@page
@using UniversityMedicalRecord.Data
@model UnivMedicalRecord.Pages.Homepage.AddLab

@{
    ViewData["Title"] = "AddLab";
}
<style>
    .card-container {
      display: flex;
      flex-direction: column;
    }

    .card {
      border: 1px solid #ccc;
      border-radius: 8px;
      padding: 20px;
      background-color: #f9f9f9;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
      margin-bottom: 20px;
    }
    .form-control input[type=text],
        .form-control input[type=number]{
        width: 75%;
        padding: 12px 20px;
        margin: 5px 0;
        border: none;
        border-bottom: 2px solid black;
        }
    
    
        .form-control input[id=txtStoolRemarks],
        .form-control input[id=txtFurtherRemarks]{
        width: 75%;
        padding: 5px 20px;
        margin: 5px ;
        box-sizing: border-box;
        border: none;
        border-bottom:2px solid black;
        }    
        
        /*
        #labtbl{
      	border: 2px solid black;
        margin-left: auto; 
        margin-right: auto;
    	}*/
                       
  </style>
<head>
    <link rel="stylesheet" href="./css/site.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>

</head>

<div class="site-wrapper m-md-5">
<form method="post">
    <button class="btn btn-dark mb-4" style="align-self: center" asp-page-handler="Dashboard" type="submit">Back To Dashboard</button>
</form>
<section class="tabs-wrapper m-lg-20">
<div class="tabs-container">
<div class="tabs-block">
<div class="tabs">
<input type="radio" name="tabs" id="tab1" checked="checked"/>
<label for="tab1"><span class="material-icons"></span>Cbc</label>
<div class="tab">
@if (Model.HasCbc())
{
    <p>This user already has a record</p>
}
else
{
    <div class="form-control" display>
    <form class="form-inline" method="post">
    <div class="modal fade Cbc" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <img class="m-lg-4" src="@Model.CbcPath" alt="Cbc" style="max-width: 10.25in; max-height: 5.25in;">
            </div>
        </div>
    </div>

    Input the Date of the Lab Test: <input asp-for="LabDateCBC" type="date" id="LabDate" value="@DateTime.Now.ToString("yyyy-MM-dd")">
    <button type="button" class="btn btn-dark m-lg-1" style="float: right" data-toggle="modal" data-target=".Cbc">Show Laboratory Test</button>
    <button class="btn btn-dark m-lg-1" style="float: right" asp-page-handler="Cbc" type="submit">Submit</button>
    <input type="hidden" asp-for="Id" value="@Model.CurrentId"/>
    <table class="table" style="text-align: center">
    <thead class="thead-dark">
    <tr>
        <th scope="col">EXAMINATIONS</th>
        <th scope="col" colspan="2">RESULTS</th>
        <th scope="col" colspan="2">NORMAL RANGE</th>
    </tr>
    </thead>
    <tbody>

    <tr>
        <td>RBC Count*</td>
        <td>
            <input asp-for="Rbc" type="number" step=".01" min="0" class="form-control" style="width: 100%;">
        </td>
        <td colspan="2"> M: 4.5 - 6.2 x 10/L<br/>
                         F: 4.2 - 5.4 x 10/L</td>
    </tr>

    <tr>
        <td>WBC Count*</td>
        <td><input asp-for="Wbc" type="number" step=".1" min="0" class="form-control" style="width: 100%;">
        <td colspan="2"> 5.0 - 10.0 x 10/L</td>
    </tr>

    <tr>
        <td>Platelets*</td>
        <td>
            <input asp-for="Plt" type="number" min="0" class="form-control" style="width: 100%;">
        </td>
        <td colspan="2"> A: 150 - 450 x 10/L<br/>
                         NB: 84 - 450 x 10/L</td>
    </tr>

    <tr>
        <td>Hemoglobin*</td>
        <td>
            <input asp-for="Hb" type="number" step=".1" min="0" class="form-control" style="width: 100%;">
        </td>
        <td colspan="2"> M: 140.0 - 180.0G/L
                         <br/>
                         F: 120.0 - 160.0G/L
                         <br/>
                         C: 100.0 - 140.0G/L
                         <br/>
                         NB: 140.0 - 230.0G/L</td>
    </tr>

    <tr>
        <td>Blast</td>
        <td>
            <input asp-for="Blast" type="number" step=".01" min="0" class="form-control" style="width: 100%;">
        </td>
        <td colspan="2"></td>
    </tr>

    <tr>
        <td>Promyelocyte</td>
        <td>
            <input asp-for="Promyelocyte" type="number" step=".01" min="0" class="form-control" style="width: 100%;">
        </td>
        <td colspan="2"></td>
    </tr>

    <tr>
        <td>Myelocyte</td>
        <td>
            <input asp-for="Myelocyte" type="number" step=".01" min="0" class="form-control" style="width: 100%;">
        </td>
        <td colspan="2"></td>
    </tr>

    <tr>
        <td>Metamyelocyte</td>
        <td>
            <input asp-for="Metamyelocyte" type="number" step=".01" min="0" class="form-control" style="width: 100%;">
        </td>
        <td colspan="2"></td>
    </tr>

    <tr>
        <td>Stab</td>
        <td>
            <input asp-for="Stab" type="number" step=".01" min="0" class="form-control" style="width: 100%;">
        </td>
        <td colspan="2"> 0.01 - 0.05</td>
    </tr>

    <tr>
        <td>Segmenter</td>
        <td>
            <input asp-for="Segmenter" type="number" step=".01" min="0" class="form-control" style="width: 100%;">
        </td>
        <td colspan="2"> 0.50 - 0.70</td>
    </tr>

    <tr>
        <td>Lymphocyte</td>
        <td>
            <input asp-for="Lymphocyte" type="number" step=".01" min="0" class="form-control" style="width: 100%;">
        </td>
        <td colspan="2"> 0.20 - 0.40</td>
    </tr>

    <tr>
        <td>Monocyte</td>
        <td>
            <input asp-for="Monocyte" type="number" step=".01" min="0" class="form-control" style="width: 100%;">
        </td>
        <td colspan="2"> 0.01 - 0.06</td>
    </tr>

    <tr>
        <td>Eosinophil</td>
        <td>
            <input asp-for="Eosinophil" type="number" step=".01" min="0" class="form-control" style="width: 100%;">
        </td>
        <td colspan="2"> 0.01 - 0.05</td>
    </tr>

    <tr>
        <td>Basophil</td>
        <td>
            <input asp-for="Basophil" type="number" step=".01" min="0" class="form-control" style="width: 100%;">
        </td>
        <td colspan="2"> 0.0 - 0.01</td>
    </tr>

    <tr>
        <td>Hematocrit</td>
        <td>
            <input asp-for="Hct" type="number" step=".01" min="0" class="form-control" style="width: 100%;">
        </td>
        <td colspan="2"> M: 0.40 - 0.54<br/>
                         F: 0.37 - 0.47</td>
    </tr>

    <tr>
        <td>ESR</td>
        <td>
            <input asp-for="Esr" type="number" min="0" class="form-control" style="width: 100%;">
        </td>
        <td colspan="2"> M: 1-10mm/hr<br/>
                         F: 0-20mm/hr</td>
    </tr>

    <tr>
        <td>Reticulocyte</td>
        <td>
            <input asp-for="Reticulocyte" type="number" min="0" class="form-control" style="width: 100%;">
        </td>
        <td colspan="2"> A: 5 - 15 x 10/L<br/>
                         NB: 15 - 65 x 10/L</td>
    </tr>

    <tr>
        <td>Bleeding Time</td>
        <td>
            <input asp-for="BleedingT" type="number" min="0" class="form-control" style="width: 100%;">
        </td>
        <td colspan="2"> 1 - 5 minutes</td>
    </tr>

    <tr>
        <td>Clotting Time</td>
        <td>
            <input asp-for="ClottingT" type="number" min="0" class="form-control" style="width: 100%;">
        </td>
        <td colspan="2"> 2 - 7 minutes</td>
    </tr>

    <tr>
        <td>Malaria</td>
        <td>
            <input asp-for="Malaria" type="text" class="form-control" style="width: 100%;">
        </td>
        <td colspan="2"></td>
    </tr>

    <tr>
        <td>Red Cell Morphology</td>
        <td>
            <input asp-for="RedCellMorph" type="text" class="form-control" style="width: 100%;">
        </td>
        <td colspan="2"></td>
    </tr>

    <tr>
        <td>Test</td>
        <td>
            <input asp-for="Test" type="text" class="form-control" style="width: 100%;">
        </td>
        <td colspan="2"></td>
    </tr>

    <tr>
        <td>Control</td>
        <td>
            <input asp-for="Control" type="text" class="form-control" style="width: 100%;">
        </td>
        <td colspan="2"></td>
    </tr>

    <tr>
        <td>%Activity</td>
        <td>
            <input asp-for="Activity" type="number" min="0" class="form-control" style="width: 100%;">
        </td>
        <td colspan="2"></td>
    </tr>

    <tr>
        <td>Patient Ratio</td>
        <td>
            <input asp-for="PatientRatio" type="text" class="form-control" style="width: 100%;">
        </td>
        <td colspan="2"></td>
    </tr>

    <tr>
        <td>INR</td>
        <td>
            <input asp-for="Inr" type="text" class="form-control" style="width: 100%;">
        </td>
        <td colspan="2"></td>
    </tr>

    <tr>
        <td>Blood Type</td>
        <td>
            <input asp-for="BloodType" type="text" class="form-control" style="width: 100%;">
        </td>
        <td colspan="2"></td>
    </tr>
    </tbody>
    </table>
    </form>
    </div>
}

</div>
<input type="radio" name="tabs" id="tab2"/>
<label for="tab2"><span class="material-icons"></span>Fecalysis</label>
<div class="tab">

    <div class="card-container">
        @if (Model.HasFecalysis())
        {
            <p>This User already has a record.</p>
        }
        else
        {
            <div class="form-control">
                <form class="form-inline" method="post">
                    <div class="modal fade fecalysis" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
                        <div class="modal-dialog modal-sm">
                            <div class="modal-content">
                                <img class="m-lg-4" src="@Model.FecalPath" alt="Fecalysis" style="max-width: 10.25in; max-height: 5.25in;">
                            </div>
                        </div>
                    </div>
                    Input the Date of the Lab Test: <input asp-for="LabDateFecalysis" type="date" value="@DateTime.Now.ToString("yyyy-MM-dd")">
                    <button type="button" class="btn btn-dark m-lg-1" style="float: right" data-toggle="modal" data-target=".fecalysis">Show Laboratory Test</button>
                    <button class="btn btn-dark m-lg-1" style="float: right" asp-page-handler="Fecalysis" type="submit">Submit</button>
                    <input type="hidden" asp-for="Id" value="@Model.CurrentId"/>
                    <table class="table" style="text-align: center">
                        <thead class="thead-dark">
                        <tr>
                            <th scope="col">GROSS EXAMINATION</th>
                            <th scope="col">RESULT</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>Color</td>
                            <td>
                                <input asp-for="StoolColor" type="text" class="form-control"/>
                            </td>
                        </tr>

                        <tr>
                            <td>Consistency</td>
                            <td>
                                <input asp-for="StoolConsistency" type="text" class="form-control"/>
                            </td>
                        </tr>

                        <tr>
                            <td>Other findings</td>
                            <td>
                                <input asp-for="OtherFindings" type="text" class="form-control"/>
                            </td>
                        </tr>

                        <tr>
                            <td>Occult Blood</td>
                            <td>
                                <input asp-for="OccultBlood" type="text" class="form-control"/>
                            </td>
                        </tr>
                        </tbody>
                        <br/>
                        <thead class="thead-dark">
                        <tr>
                            <th scope="col">MICROSCOPIC EXAMINATION</th>
                            <th scope="col">RESULT</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>Pus cells/HPF*</td>
                            <td>
                                <input asp-for="StoolPus" type="number" min="0" class="form-control"/>
                            </td>
                        </tr>

                        <tr>
                            <td>RBC/HPF*</td>
                            <td>
                                <input asp-for="StoolRbc" type="number" min="0" class="form-control"/>
                            </td>
                        </tr>

                        <tr>
                            <td>Other findings</td>
                            <td>
                                <input asp-for="MicroOtherFindings" type="text" class="form-control"/>
                            </td>
                        </tr>
                        <br/>
                        <tr>
                            <td>Remarks</td>
                            <td>
                                <input asp-for="MicroRemarks" type="text" class="form-control"/>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <i>Remarks:</i>
                    <input asp-for="StoolRemarks" id="txtStoolRemarks" type="text" class="form-control" style="width: 100%;">
                    <br/>
                    <h2>OTHERS</h2>
                    <i>Remarks:</i>
                    <input asp-for="FurtherRemarks" id="txtFurtherRemarks" type="text" class="form-control" style="width: 100%;">
                </form>
            </div>
        }
    </div>
</div>

<input type="radio" name="tabs" id="tab3"/>
<label for="tab3"><span class="material-icons"></span>Cholesterol</label>
<div class="tab">
    <div class="card-container">
        @if (Model.HasCholesterol())
        {
            <p>This user already has a record</p>
        }
        else
        {
            <div class="form-control">
                <form class="form-inline" method="post">
                    <div class="modal fade Cholesterol" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
                        <div class="modal-dialog modal-sm">
                            <div class="modal-content">
                                <img class="m-lg-4" src="@Model.CholesPath" alt="Cholesterol" style="max-width: 10.25in; max-height: 5.25in;">
                            </div>
                        </div>
                    </div>
                    Input the Date of the Lab Test: <input asp-for="LabDateCholesterol" type="date" id="LabDate" value="@DateTime.Now.ToString("yyyy-MM-dd")">
                    <button type="button" class="btn btn-dark m-lg-1" style="float: right" data-toggle="modal" data-target=".Cholesterol">Show Laboratory Test</button>
                    <button class="btn btn-dark m-lg-1" style="float: right" asp-page-handler="Cholesterol" type="submit">Submit</button>
                    <input type="hidden" asp-for="Id" value="@Model.CurrentId"/>
                    <table class="table" style="text-align: center">
                        <thead class="thead-dark">
                        <tr>
                            <th scope="col">ANALYTE</th>
                            <th scope="col" colspan="2">RESULT</th>
                            <th scope="col" colspan="2">NORMAL RANGE</th>
                        </tr>
                        <tr>
                            <th scope="col" colspan="4">Traditional</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>Cholesterol*</td>
                            <td>
                                <input asp-for="TradCholesterol" type="number" step=".1" min="0" class="form-control" style="width: 100%;">
                            </td>
                            <td colspan="2"> &lt; 200 mg/dl</td>
                        </tr>

                        <tr>
                            <td>LDL*</td>
                            <td>
                                <input asp-for="TradLdl" type="number" step=".1" min="0" class="form-control" style="width: 100%;">
                            </td>
                            <td colspan="2"> 110 - 130 mg/dl</td>
                        </tr>

                        <tr>
                            <td>dHDL*</td>
                            <td>
                                <input asp-for="TradDhdl" type="number" step=".1" min="0" class="form-control" style="width: 100%;">
                            </td>
                            <td colspan="2"> > 40 mg/dl</td>
                        </tr>

                        <tr>
                            <td>Triglyceride*</td>
                            <td>
                                <input asp-for="TradTriglyceride" type="number" step=".1" min="0" class="form-control" style="width: 100%;">
                            </td>
                            <td colspan="2"> &lt; 150 mg/dl</td>
                        </tr>

                        <tr>
                            <td>FBS</td>
                            <td>
                                <input asp-for="TradFbs" type="number" step=".1" min="0" class="form-control" style="width: 100%;">
                            </td>
                            <td colspan="2"> 74 - 106 mg/dl</td>
                        </tr>

                        <tr>
                            <td>BUN</td>
                            <td>
                                <input asp-for="TradBun" type="number" step=".1" min="0" class="form-control" style="width: 100%;">
                            </td>
                            <td colspan="2"> M: 9 - 20 mg/dl<br/>
                                             F: 3.2 - 7.1 mg/dl</td>
                        </tr>

                        <tr>
                            <td>Creatinine</td>
                            <td>
                                <input asp-for="TradCreatinine" type="number" step=".1" min="0" class="form-control" style="width: 100%;">
                            </td>
                            <td colspan="2"> M: 0.8 - 1.5 mg/dl<br/>
                                             F: 0.7 - 1.2 mg/dl</td>
                        </tr>

                        <tr>
                            <td>BUA</td>
                            <td>
                                <input asp-for="TradBua" type="number" step=".1" min="0" class="form-control" style="width: 100%;">
                            </td>
                            <td colspan="2"> M: 3.5 - 8.5 mg/dl<br/>
                                             F: 2.5 - 6.2 mg/dl</td>
                        </tr>

                        <tr>
                            <td>Remarks</td>
                            <td colspan="4">
                                <input asp-for="Remarks" type="text" class="form-control" style="width: 100%;"/>
                            </td>
                        </tr>

                        <tr>
                            <td>Other Remarks</td>
                            <td colspan="4">
                                <input asp-for="OtherRemarks" type="text" class="form-control" style="width: 100%;"/>
                            </td>
                        </tr>

                        </tbody>
                    </table>
                </form>
            </div>
        }
    </div>
</div>


<input type="radio" name="tabs" id="tab4"/>
<label for="tab4"><span class="material-icons"></span>CholesterolSi</label>
<div class="tab">
    <div class="card-container">
        @if (Model.HasCholesterolSi())
        {
            <p>This user already has a record</p>
        }
        else
        {
            <div class="form-control">
                <form class="form-inline" method="post">
                    <div class="modal fade CholesterolSi" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
                        <div class="modal-dialog modal-sm">
                            <div class="modal-content">
                                <img class="m-lg-4" src="@Model.CholesSiPath" alt="CholesterolSi" style="max-width: 10.25in; max-height: 5.25in;">
                            </div>
                        </div>
                    </div>
                    Input the Date of the Lab Test: <input asp-for="LabDateCholesterolSi" type="date" id="LabDate" value="@DateTime.Now.ToString("yyyy-MM-dd")">
                    <button type="button" class="btn btn-dark m-lg-1" style="float: right" data-toggle="modal" data-target=".CholesterolSi">Show Laboratory Test</button>
                    <button class="btn btn-dark m-lg-1" style="float: right" asp-page-handler="CholesterolSi" type="submit">Submit</button>
                    <input type="hidden" asp-for="Id" value="@Model.CurrentId"/>
                    <table class="table" style="text-align: center">
                        <thead class="thead-dark">
                        <tr>
                            <th scope="col">ANALYTE</th>
                            <th scope="col" colspan="2">RESULT</th>
                            <th scope="col" colspan="2">NORMAL RANGE</th>
                        </tr>
                        <tr>
                            <th scope="col" colspan="4">S.I.</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>Cholesterol*</td>
                            <td>
                                <input asp-for="SiCholesterol" type="number" step=".1" min="0" class="form-control"  style="width: 100%;">
                            </td>
                            <td colspan="2"> > 5.2 mmol/L</td>
                        </tr>

                        <tr>
                            <td>LDL*</td>
                            <td>
                                <input asp-for="SiLdl" type="number" step=".1" min="0" class="form-control"  style="width: 100%;">
                            </td>
                            <td colspan="2"> 2.8 - 3.4 mmol/L</td>
                        </tr>

                        <tr>
                            <td>dHDL*</td>
                            <td>
                                <input asp-for="SiDhdl" type="number" step=".1" min="0" class="form-control"  style="width: 100%;">
                            </td>
                            <td colspan="2"> > 1.0 mmol/L</td>
                        </tr>

                        <tr>
                            <td>Triglyceride*</td>
                            <td>
                                <input asp-for="SiTriglyceride" type="number" step=".1" min="0" class="form-control"  style="width: 100%;">
                            </td>
                            <td colspan="2"> &lt; 1.7 mmol/L</td>
                        </tr>

                        <tr>
                            <td>FBS</td>
                            <td>
                                <input asp-for="SiFbs" type="number" step=".1" min="0" class="form-control"  style="width: 100%;"> 
                            </td>
                            <td colspan="2"> 4.1 - 5.9 mmol/L</td>
                        </tr>

                        <tr>
                            <td>BUN</td>
                            <td>
                                <input asp-for="SiBun" type="number" step=".1" min="0" class="form-control"  style="width: 100%;">
                            </td>
                            <td colspan="2"> M: 3.2 - 7.1 mmol/L<br/>
                                             F: 2.5 - 6.1 mmol/L</td>
                        </tr>

                        <tr>
                            <td>Creatinine</td>
                            <td>
                                <input asp-for="SiCreatinine" type="number" step=".1" min="0" class="form-control"  style="width: 100%;">
                            </td>
                            <td colspan="2"> M: 71 - 133 ummol/L<br/>
                                             F: 62 - 106 ummol/L</td>
                        </tr>

                        <tr>
                            <td>BUA</td>
                            <td>
                                <input asp-for="SiBua" type="number" step=".1" min="0" class="form-control"  style="width: 100%;">
                            </td>
                            <td colspan="2"> M: 208 - 506 ummol/L<br/>
                                             F: 149 - 369 ummol/L</td>
                        </tr>

                        <tr>
                            <td>SGOT</td>
                            <td>
                                <input asp-for="Sgot" type="number" step=".1" min="0" class="form-control"  style="width: 100%;">
                            </td>
                            <td colspan="2"> M: 17 - 59 u/L<br/>
                                             F: 14 - 36 u/L</td>
                        </tr>

                        <tr>
                            <td>SGPT</td>
                            <td>
                                <input asp-for="Sgpt" type="number" step=".1" min="0" class="form-control"  style="width: 100%;">
                            </td>
                            <td colspan="2"> M: 21 - 72 u/L<br/>
                                             F: 9 - 52 u/L</td>
                        </tr>

                        <tr>
                            <td>Amylase</td>
                            <td>
                                <input asp-for="Amylase" type="number" step=".1" min="0" class="form-control"  style="width: 100%;">
                            </td>
                            <td colspan="2"> 330 - 110 mmol/L</td>
                        </tr>

                        <tr>
                            <td>CKMB</td>
                            <td>
                                <input asp-for="Ckmb" type="number" step=".1" min="0" class="form-control"  style="width: 100%;">
                            </td>
                            <td colspan="2"> up to 16 u/L</td>
                        </tr>

                        <tr>
                            <td>Sodium</td>
                            <td>
                                <input asp-for="Sodium" type="number" step=".1" min="0" class="form-control"  style="width: 100%;">
                            </td>
                            <td colspan="2"> 135 - 148 mmol/L</td>
                        </tr>

                        <tr>
                            <td>Potassium</td>
                            <td>
                                <input asp-for="Potassium" type="number" step=".1" min="0" class="form-control"  style="width: 100%;">
                            </td>
                            <td colspan="2"> 3.5 - 5.3 mmol/L</td>
                        </tr>

                        <tr>
                            <td>Chloride</td>
                            <td>
                                <input asp-for="Chloride" type="number" step=".1" min="0" class="form-control"  style="width: 100%;">
                            </td>
                            <td colspan="2"> 98 - 107 mmol/L</td>
                        </tr>

                        <tr>
                            <td>Ionized Calcium</td>
                            <td>
                                <input asp-for="IonizedCalcium" type="number" step=".1" min="0" class="form-control"  style="width: 100%;">
                            </td>
                            <td colspan="2"> 1.13 - 1.31 mmol/L</td>
                        </tr>

                        <tr>
                            <td>Remarks</td>
                            <td colspan="4">
                                <input asp-for="RemarksSi" type="text" class="form-control" style="width: 100%;"/>
                            </td>
                        </tr>

                        <tr>
                            <td>Other Remarks</td>
                            <td colspan="4">
                                <input asp-for="OtherRemarksSi" type="text" class="form-control" style="width: 100%;"/>
                            </td>
                        </tr>

                        </tbody>
                    </table>
                </form>
            </div>
        }
    </div>
</div>

<input type="radio" name="tabs" id="tab5"/>
<label for="tab5"><span class="material-icons"></span>Urinalysis</label>
<div class="tab">
    @if (Model.HasUrinalysis())
    {
        <p>This user already has a record</p>
    }
    else
    {
        <div class="form-control">
            <form class="form-inline" method="post">
                <div class="modal fade Urinalysis" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-sm">
                        <div class="modal-content">
                            <img class="m-lg-4" src="@Model.UrinalysisPath" alt="Urinalysis" style="max-width: 10.25in; max-height: 5.25in;">
                        </div>
                    </div>
                </div>
                Input the Date of the Lab Test: <input asp-for="LabDateUrinalysis" type="date" id="LabDate" value="@DateTime.Now.ToString("yyyy-MM-dd")">
                <button type="button" class="btn btn-dark m-lg-1" style="float: right" data-toggle="modal" data-target=".Urinalysis">Show Laboratory Test</button>
                <button class="btn btn-dark m-lg-1" style="float: right" asp-page-handler="Urinalysis" type="Submit">Submit</button>
                <input type="hidden" asp-for="Id" value="@Model.CurrentId"/>
                <table class="table" style="text-align: center">
                    <thead class="thead-dark">
                    <tr>
                        <th scope="col">PHYSICAL EXAMINATION</th>
                        <th scope="col">RESULTS</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>Color</td>
                        <td>
                            <input asp-for="Color" type="text" class="form-control">
                        </td>
                    </tr>

                    <tr>
                        <td>Appearance</td>
                        <td>
                            <input asp-for="Appearance" type="text" class="form-control">
                        </td>
                    </tr>

                    <tr>
                        <td>pH*</td>
                        <td>
                            <input asp-for="Ph" type="number" step="0.1" min="0" class="form-control">
                        </td>
                    </tr>

                    <tr>
                        <td>Specific Gravity*</td>
                        <td>
                            <input asp-for="Specgrav" type="number" step="0.001" min="0" class="form-control">
                        </td>
                    </tr>

                    <tr>
                        <td>Epithelial Cells</td>
                        <td>
                            <input asp-for="EpithelialCells" type="text" class="form-control">
                        </td>
                    </tr>

                    <tr>
                        <td>Mucus Thread</td>
                        <td>
                            <input asp-for="MucusThread" type="text" class="form-control">
                        </td>
                    </tr>

                    <tr>
                        <td>Amorphous Urates</td>
                        <td>
                            <input asp-for="AmorphousUrates" type="text" class="form-control">
                        </td>
                    </tr>

                    <tr>
                        <td>Amorphous Phosphates</td>
                        <td>
                            <input asp-for="AmorphousPhosphates" type="text" class="form-control">
                        </td>
                    </tr>
                    </tbody>

                    <thead class="thead-dark">
                    <tr>
                        <th scope="col">CHEMICAL EXAMINATION</th>
                        <th scope="col">Results</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>Albumin</td>
                        <td>
                            <input asp-for="Albumin" type="text" class="form-control">
                        </td>
                    </tr>

                    <tr>
                        <td>Sugar</td>
                        <td>
                            <input asp-for="Sugar" type="text" class="form-control">
                        </td>
                    </tr>

                    <tr>
                        <td>Others:</td>
                        <td>
                            <input asp-for="OthersUrinalysis" type="text" class="form-control">
                        </td>
                    </tr>
                    </tbody>

                    <thead class="thead-dark">
                    <tr>
                        <th scope="col">MICROSCOPIC EXAMINATION</th>
                        <th scope="col">Results</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>Pus Cells*</td>
                        <td>
                            <input asp-for="PusCells" type="number" class="form-control">
                        </td>
                    </tr>

                    <tr>
                        <td>Red Blood Cells*</td>
                        <td>
                            <input asp-for="RBC" type="number" class="form-control">
                        </td>
                    </tr>

                    <tr>
                        <td>Bacteria</td>
                        <td>
                            <input asp-for="Bacteria" type="text" class="form-control">
                        </td>
                    </tr>

                    <tr>
                        <td>Yeast Cells</td>
                        <td>
                            <input asp-for="YeastCells" type="text" class="form-control">
                        </td>
                    </tr>

                    <tr>
                        <td>Others:</td>
                        <td>
                            <input asp-for="OthersMicroAnalysis" type="text" class="form-control">
                        </td>
                    </tr>
                    </tbody>

                    <thead class="thead-dark">
                    <tr>
                        <th scope="col">OTHER EXAMINATION</th>
                        <th scope="col">Results</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>Pregnancy</td>
                        <td>
                            <input asp-for="Pregnancy" type="text" class="form-control">
                        </td>
                    </tr>

                    <tr>
                        <td>Crystals</td>
                        <td>
                            <input asp-for="Crystals" type="text" class="form-control">
                        </td>
                    </tr>

                    <tr>
                        <td>Cast</td>
                        <td>
                            <input asp-for="Casts" type="text" class="form-control">
                        </td>
                    </tr>
                    </tbody>
                </table>
            </form>
        </div>
    }
</div>
</div>
</div>
</div>
</section>
</div>